.DS_Store
build
extension/coverage
extension/node_modules
.idea/
npm-debug.log
extension/config.json
extension/package-lock.json

# removed from tracking as it should be your personal login/sensitive data
extension/test/newman/environment.json
